.container{
  height: 600px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.flag-img{
  height: 350px;
  width:  500px;
  border-radius: 15px;

}
.img-wrapper{
  
  height: 450px;
  width: 550px;
  position: relative;
  left: 100px;
  top:100px;
    
}
.backtohome{
position: relative;
margin-bottom: 55px;
display: flex;
gap: 10px;
font-size: 18px;
color: #000;
}
.dark .backtohome{
  color: white;
}
.body-container{
  position: relative;
  left: 200px;
  top: 100px;
  height: 450px;
  width: 550px;
  display: flex;
  align-items: center;
  gap: 20px;
  
}
h1{
  font-size: 38px;
}
.dark h1{
  color: white;
}
.info{
  display: flex;
  align-items: center;
  gap: 0px;
}
.dark .info{
  color: white;
}
.info-1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  
}
.info-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
  margin-top: 25px;
}


.borders-container {
  margin-top: 50px; /* Adjust as needed */
  position: absolute;
  top: 300px;
  display: flex;
  gap: 10px;
  
}

.borders-title {
  font-weight: 500;
  margin-bottom: 10px; /* Adjust as needed */
}

.borders-list {
  display: flex;
  flex-wrap: wrap; /* Allow the links to wrap if needed */
}

.border-link {
  margin-right: 10px; /* Adjust as needed */
  color: #000;
  background-color: white;
  border-radius: 5px;
  height: 20px;
  padding: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight:400;
  /* border: 1px solid red; */
}
.dark .border-link{
  background-color: #2b3844;
  color: white;
}

.static-text {
  font-weight: 500; /* or any other desired style */
}

.dynamic-content {
  font-weight: 400; /* or any other desired style */
}


@media only screen and (max-width: 375px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 375px;
  }
  .img-wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    left: 0px;
    top:25px;
    width: 330px;
    height: 350px;

    
  }
  .borders-container{
    display: flex;
    flex-direction: column;
  }
  .body-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 0; /* Reset left position */
    top: 0; /* Reset top position */
    width: 100%; /* Occupy full width */
  }
  
  .flag-img{
    height: 220px;
    width: 320px;
  }
  .info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  }
}