
body::-webkit-scrollbar{
  display:none;
}

.homepage-container {
  margin-top: 20px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.dark .homepage-container {
  background-color: #202C36;/* Dark gray background color */
  color: #fff; /* Text color for dark mode */
}
.country-list {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    background-color: #f0f0f0;
    padding: 10px;
  }

  .dark .country-list{
    background-color: #202C36;
  }
  
  .country-item {
    background-color: white;
    border-radius: 8px;
    width: 250px;
    box-sizing: border-box; /* Include padding in the width calculation */
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 25px;
  }
  .dark .country-item{
    background-color: #2b3844;
    
  }
  
  .country-flag {
    width: 100%; /* Adjust the width as needed */
    height: auto;
    max-width: 300px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 8px 8px 0 0; 
  }
  
  .country-details {
    margin-top: 10px;
    margin-left: 10px;
  }
  .dark .country-details h3 {
    color: white;
  }
  .country-details h3 {
    margin: 0;
    font-size: 18px;
    color: black;
   
  }
  .dark .country-details p {
    color: white;
  }
  .country-details p {
    margin: 5px 0;
    font-size: 14px;
    color: black;
    
  }

  .country-item-placeholder {
    background-color: white; /* Samma bakgrundsfärg som länderna */
    border-radius: 8px;
    width: 250px;
    box-sizing: border-box;
    height: 300px;
    margin: 25px;
  }
  
  .country-flag-placeholder {
    width: 100%;
    height: auto;
    max-width: 300px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 8px 8px 0 0; 
  }
  
  .country-details-placeholder {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .country-details-placeholder h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .country-details-placeholder p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  @media (max-width: 760px){
    .country-list{
      display: flex;
      align-items: center; 
      width: 375px;
    }
  }
  
  @media only screen and (max-width: 375px) {
    .country-list {
      width: 375px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0px;
    }
    .country-item{
      border-radius: 5px;
      
      
    }
    .country-flag {
      border-radius: 5px;
      max-height: 180px;
    }
  }