@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{ 
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      margin: 0;
      padding: 0;
    
  }
  .container-nav{
    width: 100%;
  }
  .title{
    font-size: 24px;
  }
  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #2B3844;
      height: 60px;
      background-color: white;

    }
    
    .darkmode {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      
    }
   