
  .title{
    font-size: 24px;
    
  }

  .container-nav {
    width: 100% !important;
    height: 80px;
    background-color: white;
    
  }
  
  .dark .navbar{
  color: white;
  background-color: #2b3844;
 }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #2B3844;
    background-color: white;
    height: 100%;
    /* max-width: 1440px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.226);
    gap: 300px;
    z-index: 1000;
  }
    
    .darkmode {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
      
    }
   
    @media only screen and (max-width: 375px) {
      .container-nav{
        height: 80px;
        max-width: 375px;
        
        
      }
      .navbar{
        max-width: 375px;
        gap: 10px;
        display: flex;
        justify-content: space-between;
        
      }

      .logo{
        display: none;
      }
      .title{
        font-size: 18px;
        margin: 10px;
      }
      .darkmode{
        font-size: 18px;
        margin: 10px;
      }
      .darkmode img {
        height:  28px;
        gap: 5px;
      }
    }
